<header class="flex flex-row justify-between backdrop-blur-sm">
  <h1 class="m-16 text-3xl font-medium font-bodoni">
    <a href="/">Bello</a>
  </h1>

  <nav class="w-1/4" id="nav">
    <ul class="flex justify-between mt-16 mr-24">
      <li class="nav-item">
        <a href="">About</a>
        <span class=""></span>
      </li>
      <li class="nav-item">
        <a href="">Projects</a>
        <span class=""></span>
      </li>
      <li class="nav-item">
        <a href="">Contact</a>
        <span class=""></span>
      </li>
    </ul>
  </nav>
</header>
