<div class="">
  <header
    [ngClass]="{ 'border-b': showNavbarBorder }"
    class="fixed top-0 z-50 flex flex-row justify-between w-screen pt-3 align-middle backdrop-blur-sm"
  >
    <h1 class="mx-16 mt-4 text-3xl font-medium font-bodoni">
      <a href="/">Bello</a>
    </h1>

    <nav class="w-1/4" id="nav">
      <ul class="flex justify-between mt-4 mr-24">
        <li class="nav-item">
          <a href="">About</a>
          <span class=""></span>
        </li>
        <li class="nav-item">
          <a href="">Projects</a>
          <span class=""></span>
        </li>
        <li class="nav-item">
          <a href="">Contact</a>
          <span class=""></span>
        </li>
      </ul>
    </nav>
  </header>

  <main class="grid w-3/4 grid-cols-9 mx-auto font-medium mt-36">
    <span class="col-span-8">
      <h2 class="flex flex-col justify-between my-8 text-5xl font-poppins">
        <span class="font-normal">
          Hi, I&apos;m
          <span class="font-semibold">Gabriel F. Bello</span>
        </span>

        <span class=""></span>
      </h2>

      <div class="flex flex-row">
        <p class="w-4/5 text-xl">
          <span class="text-xl">
            Fullstack developer, student and runner. <br />
            Currently in college and loving to work with
          </span>
          <span class="">
            <span class="font-bold text-indigo-700">Angular</span>,
            <span class="font-bold text-indigo-700">Node</span> and
            <span class="font-bold text-indigo-700">Docker</span>
          </span>
          <br />
          <br />
          <span class="opacity-85">
            Constantly studying and improving <br />
            to make better code, wonderful designs and having some fun.
          </span>
        </p>
      </div>

      <div class="flex flex-row my-8 justify-left">
        <button
          class="py-2 m-3 font-bold duration-300 ease-out rounded-full bg-primary_green hover:mx-4"
        >
          <a href="/about" class="">
            <span class="btn-primary">Know more</span>
          </a>
        </button>
      </div>
    </span>

    <div
      class="flex justify-center w-px col-span-1 align-middle mt-36 bg-slate-400"
    ></div>

    <span class="col-span-8">
      <h2 class="flex flex-col justify-between my-8 text-5xl font-poppins">
        <span class="font-normal">
          Hi, I&apos;m
          <span class="font-semibold">Gabriel F. Bello</span>
        </span>

        <span class=""></span>
      </h2>

      <div class="flex flex-row">
        <p class="w-4/5 text-xl">
          <span class="text-xl">
            Fullstack developer, student and runner. <br />
            Currently in college and loving to work with
          </span>
          <span class="">
            <span class="font-bold text-indigo-700">Angular</span>,
            <span class="font-bold text-indigo-700">Node</span> and
            <span class="font-bold text-indigo-700">Docker</span>
          </span>
          <br />
          <br />
          <span class="opacity-85">
            Constantly studying and improving <br />
            to make better code, wonderful designs and having some fun.
          </span>
        </p>
      </div>

      <div class="flex flex-row my-8 justify-left">
        <button
          class="py-2 m-3 font-bold duration-300 ease-out rounded-full bg-primary_green hover:mx-4"
        >
          <a href="/about" class="">
            <span class="btn-primary">Know more</span>
          </a>
        </button>
      </div>
    </span>

    <div
      class="flex justify-center w-px col-span-1 align-middle bg-slate-400"
    ></div>

    <span class="col-span-8">
      <h2 class="flex flex-col justify-between my-8 text-5xl font-poppins">
        <span class="font-normal">
          Hi, I&apos;m
          <span class="font-semibold">Gabriel F. Bello</span>
        </span>

        <span class=""></span>
      </h2>

      <div class="flex flex-row">
        <p class="w-4/5 text-xl">
          <span class="text-xl">
            Fullstack developer, student and runner. <br />
            Currently in college and loving to work with
          </span>
          <span class="">
            <span class="font-bold text-indigo-700">Angular</span>,
            <span class="font-bold text-indigo-700">Node</span> and
            <span class="font-bold text-indigo-700">Docker</span>
          </span>
          <br />
          <br />
          <span class="opacity-85">
            Constantly studying and improving <br />
            to make better code, wonderful designs and having some fun.
          </span>
        </p>
      </div>

      <div class="flex flex-row my-8 justify-left">
        <button
          class="py-2 m-3 font-bold duration-300 ease-out rounded-full bg-primary_green hover:mx-4"
        >
          <a href="/about" class="">
            <span class="btn-primary">Know more</span>
          </a>
        </button>
      </div>
    </span>

    <div
      class="flex justify-center w-px col-span-1 align-middle bg-slate-400"
    ></div>
  </main>
</div>
